
<div id="intro-box" class="box g16">
  <div class="header"><span class="accent grad2">Lists</span></div>
  <%@list.each do |list|%>
      <div id="intro" class="content scroll ov-no" style="height: 100px;">
        <div class="scroll-cont">
          <div class="row">
            <span class="icon icon-list"></span><h2><%= list.name %></h2>
            <p><%= list.desc %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>


<div id="ctrl-box" class="box g16 row1">
  <div id="ctrl-panel" class="nav-box left vt">

    <div class="nav-cont">
      <div id="profile-set" class="nav-item show">
        <%= form_for(@user, as: :user, url: list_path(@user)) do |f| %>
            <div id="profile-av">
              <%= image_tag current_user.photo_path.present? ? current_user.photo_path : "avatars/alex.jpg"%>
              <span id="profile-av-info">uploaded <%=current_user.updated_at %></span>
              <div class="buttons wide">
                <!--<button class="change"><span class="icon icon-refresh"></span>Change</button>-->
                <%= f.filepicker_field :photo_path,class: "icon icon-refresh button" %>
              </div>
            </div>
            <div class="inp-cont g8">
              <label>Name</label>
              <%= f.text_field :first_name ,:label => false %>
            </div>
            <div class="inp-cont g8">
              <label>E-mail</label>
              <%= f.email_field :email ,:label => false %>
            </div>
            <div class="inp-cont g8">
              <label>Password</label>
              <%= f.password_field :password ,:label => false %>
            </div>
            <div class="inp-cont multi g8">
              <label>Contact#</label>
              <%= f.number_field :phone_number ,:label => false %>
            </div>
            <div class="inp-cont multi g8">
              <label>City</label>
              <%= f.text_field :city ,:label => false %>
            </div>
            <div class="inp-cont multi g8">
              <label>State</label>
              <%= f.text_field :state ,:label => false %>
            </div>
            <div class="inp-cont multi g8">
              <label>Country</label>
              <%= f.text_field :country ,:label => false %>
            </div>


            <div class=" icon inp-cont multi g15">
              <%= f.button :button %>
            </div>
        <% end %>
      </div>

      <div id="sys-stats" class="nav-item">
        <div id="ver-stats">
          <p><strong>System version:</strong> 1.0</p>
          <p><strong>System status:</strong><span class="icon-ok pos"></span></p>
          <p><strong>Auto backup:</strong><span class="icon-ok pos"></span></p>
          <p><strong>Apache:</strong><span class="icon-ok pos"></span> 2.4</p>
          <p><strong>PHP:</strong><span class="icon-ok pos"></span> 5.5.4</p>
          <p><strong>MySQL:</strong><span class="icon-ok pos"></span> 5.6</p>
        </div>
        <div id="sys-pbars">
          <div class="prog-bar">
            <span>Server disk space</span>
            <div style="width:40%;" class="green grad2"></div>
          </div>
          <div class="prog-bar">
            <span>Server RAM usage</span>
            <div style="width:50%;" class="blue grad2"></div>
          </div>
          <div class="prog-bar">
            <span>Server CPU usage</span>
            <div style="width:30%;" class="orange grad2"></div>
          </div>
          <div class="prog-bar">
            <span>Bandwidth usage</span>
            <div style="width:60%;" class="red grad2"></div>
          </div>
        </div>
        <div id="sys-updates">
          <p id="sys-up-ok">
            <span class="icon-ok pos"></span> Everything is up to date
          </p>
          <p id="sys-up-check" style="display: none;">
            <span class="icon-circleselection spinning"></span> Checking for updates...
          </p>
          <button id="chk-up-btn" class="mini grad2"><span class="icon icon-terminalalt"></span>Check for updates</button>
        </div>

        <div id="gages">
          <div id="cpu" class="gage"></div>
          <div id="ram" class="gage"></div>
          <div id="mem" class="gage"></div>
        </div>
      </div>



    </div>

    <ul id="ctrl-nav" class="nav dark">
      <li data-nav="#profile-set"><span class="icon-useralt sel  nav-icon"></span></li>
      <li class=" bdrad-top-l " data-nav="#sys-stats"><span class="icon-taskmanager-logprograms nav-icon"></span></li>
      <li class="nav-special no-sel">
        <ul class="no-sel">
          <li id="set-tg" data-modal="#ctrl-set" class="mod-tg ttip" data-ttip-opt="dark" title="Settings"><span class="icon-settingsandroid nav-icon"></span></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<style>
    .row1{
        height: 350px !important;
    }
</style>

