<section class="subscribe" id="subscribe">

  <div class="container">

    <div class="sixteen columns contact-form" style="padding-top: 60px;">
      <h2>Sign Up and get Leads instantly</h2>
      <%= form_for @user do |f| %>

          <%= f.text_field :first_name, autofocus: true, class: 'textfield', placeholder: 'First Name', id: 'username' %>

          <%= f.text_field :last_name, class: 'textfield', placeholder: 'Last Name', id: 'username' %>

          <%= f.email_field :email, placeholder: "Email", class: "textfield required", id: 'username' %>

          <%= f.password_field :password, class: 'textfield ', placeholder: 'Password', id: 'password' %>

          <%= f.password_field :password_confirmation, class: 'textfield', placeholder: 'Password Confirmation', id: 'password' %>

          <%= f.hidden_field :plan_id, value: params[:plan_id] || f.object.plan_id%>
          <%= f.hidden_field :stripe_token%>


          <%= text_field_tag :card_number,"", :class=>"textfield credit_card_number",:placeholder => "Enter Card Number"%>

          <%= text_field_tag :cvc_code, "" ,:class=>"textfield credit_card_cvc",:placeholder => "Enter CVC Code" %>

          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month",class: "textfield"} %>

          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year",class: "textfield"} %>


          <%= f.button "Sign up", class: 'button color',:onclick => "checkout();return false;",:id =>"checkout-button" %>

      <% end %>

    </div>
  </div>
</section>


<%= javascript_include_tag "https://js.stripe.com/v2/" %>

<script>

    function stripeResponseHandler(status, response) {
        $("*").css("cursor", "default");
        if (response.error) {
            $('#checkout-button').removeAttr("disabled");
//            $('#errDiv').css('display','block');
            alert('card not correct');
//            $('#err').html('Credit card information provided is incorrect.');

            return false;

        }
        else {
            var token = response['id'];
//            alert(token);
            $('#user_stripe_token').val(token);

            $('#new_user').submit();

        }

        return false;
    }

    function checkout(){

        if(Stripe.card.validateCardNumber($('#card_number').val())){
            Stripe.setPublishableKey('<%=STRIPE_PUBLIC_KEY%>');
            $('#checkout-button').attr("disabled", "disabled");
            $("*").css("cursor", "wait");
//            $('#busy').trigger('click');
            Stripe.card.createToken({
                number: $('#card_number').val(),
                cvc: $('#cvc_code').val(),
                exp_month: $('#card_month').val(),
                exp_year: $('#card_year').val()
            }, stripeResponseHandler);
        }
        else{
            $('#checkout-button').removeAttr("disabled");
//            $('#errDiv').css('display','block');
            alert('card not correct');
//            $('#err').html('Credit card information provided is incorrect.');
            $("*").css("cursor", "default");

        }
        return false;
    }


</script>