<section class="subscribe" id="subscribe">

  <div class="container">

    <div class="ten contact-form" style="padding-top: 60px;margin-top: 100px; background: #4b97ed;text-align:center;width: 65%; margin-left: auto; margin-right: auto;">
      <h2>Sign Up and get Leads instantly</h2>
      <%= @user.errors.full_messages%>
      <%= @user.subscription.errors.full_messages%>
      <%= form_for @user do |f| %>

          <%= f.email_field :email, placeholder: "Email", class: "textfield required", id: 'username' %>

          <%= f.password_field :password, class: 'textfield ', placeholder: 'Password', id: 'password' %>

          <%= f.fields_for :subscription do |s| %>
              <%= s.hidden_field :plan_id, value: params[:plan_id] || s.object.plan_id%>

              <%= s.hidden_field :stripe_token%>

              <div>
                <%= text_field_tag :card_number,"", :class=>"textfield credit_card_number",:placeholder => "Enter Card Number", style: "width:66%;display:inline"%>

                <%= text_field_tag :cvc_code, "" ,:class=>"textfield credit_card_cvc",:placeholder => "Enter CVC Code" , style: "width:20%;display:inline;" %>
              </div>

              <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month",class: "textfield",style: "width:74%;display:inline"}  %>

              <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year",class: "textfield",style: "width:25%;display:inline"} %>

          <% end %>


          <%= f.button "Sign up", class: 'button sign-it-up',:onclick => "checkout();return false;",:id =>"checkout-button"%>

      <% end %>

    </div>
  </div>
</section>


<%= javascript_include_tag "https://js.stripe.com/v2/" %>

<script>

    function stripeResponseHandler(status, response) {
        $("*").css("cursor", "default");
        if (response.error) {
            $('#checkout-button').removeAttr("disabled");
//            $('#errDiv').css('display','block');
            alert('card not correct');
//            $('#err').html('Credit card information provided is incorrect.');

            return false;

        }
        else {
            var token = response['id'];
//            alert(token);
            $('#user_subscription_attributes_stripe_token').val(token);
            $('#new_user').submit();

        }

    }

    function checkout(){

        if(Stripe.card.validateCardNumber($('#card_number').val())){
            Stripe.setPublishableKey('<%=STRIPE_PUBLIC_KEY%>');
            $('#checkout-button').attr("disabled", "disabled");
            $("*").css("cursor", "wait");
            Stripe.card.createToken({
                number: $('#card_number').val(),
                cvc: $('#cvc_code').val(),
                exp_month: $('#card_month').val(),
                exp_year: $('#card_year').val()
            }, stripeResponseHandler);
        }
        else{
            $('#checkout-button').removeAttr("disabled");
//            $('#errDiv').css('display','block');
            alert('card not correct');
//            $('#err').html('Credit card information provided is incorrect.');
            $("*").css("cursor", "default");
            return false;
        }
    }


</script>