<div id="table-box" class="box g16 ov-no">
  <table id="table" class="tablesorter">
    <thead class="header">
    <tr>
      <th>Lead's Title</th>
      <th>Description</th>
      <th>Lead Type</th>
      <th>Contact Name</th>
      <th>Contact Email</th>
      <th>Contact Number</th>
      <th>Contact Address</th>
      <th colspan="3">Contact Social Media</th>
      <th>Created</th>
    </tr>
    </thead>
    <tbody>
    <%- @leads.each do |lead| %>
        <tr>
          <td><%= lead.title %></td>
          <td><%= lead.desc %></td>
          <td><%= lead.lead_type %></td>
          <td><%= lead.contact_name %></td>
          <td><%= lead.contact_email %></td>
          <td><%= lead.contact_number %></td>
          <td><%= lead.address.to_s + ', ' + lead.city.to_s + ', ' + lead.state.to_s + lead.zip.to_s + ', ' + lead.country.to_s %></td>
          <td><%= link_to  'Facebook', lead.facebook, target:"_blank" %></td>
          <td><%= link_to 'Twitter', lead.twitter, target:"_blank"  %></td>
          <td><%= link_to 'LinkedIn', lead.linked_in, target:"_blank"  %></td>

          <td><%= lead.created_at.strftime("%H:%M%p %m/%d/%Y") %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


<div id="gages" class="hidden">
  <div id="cpu" class="gage"></div>
  <div id="ram" class="gage"></div>
  <div id="mem" class="gage"></div>
</div>

