

  <div id="content" class="dash-page">

    <div id="table-box" class="box g16 ov-no">
      <table id="table" class="tablesorter">
        <thead class="header">
        <tr><th>Lead's Title</th><th>Description</th><th>Lead Type</th><th>Created At</th></tr>
        </thead>
        <tbody>
        <%- @leads.each do |lead| %>
            <tr>
              <td><%= lead.title %></td>
              <td><%= lead.desc %></td>
              <td><%= lead.lead_type %></td>
              <td><%= lead.created_at %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <!--MODAL WINDOWS-->

  <div class="modal-ov">

    <div id="notif-mod" class="modal mini box modslideright">
      <div class="header">
        <span class="icon icon-subtractshape"></span>Notifications &amp; Alerts
        <button class="mini close"><span class="icon icon-remove no-mg"></span></button>
      </div>
      <div class="mod-body">
        <p class="alert warn">Low disk space remaining on partition E:/</p>
        <p class="alert info">MySQL updated to newest version (v5.6)</p>
        <p class="alert danger">Server #3 reporting high temperatures</p>
      </div>
    </div>

    <div id="ctrl-set" class="modal box modslideupalt">
      <div class="header"><span class="icon icon-cog"></span>Settings</div>
      <div class="mod-body no-pad">
        <div class="row ig8 bd-right"><label>Automatic Updates</label><input type="checkbox" class="checkbox big" checked></div>
        <div class="row ig8"><label>Automatic Backup</label><input type="checkbox" class="checkbox big" checked></div>
        <div class="row">
          <label>Color Scheme</label>
          <div id="color-scheme" class="buttons btn-radio">
            <button class="light gray pressed ig8"><span class="icon icon-brightnessfull"></span>Light</button>
            <button class="black ig8"><span class="icon icon-brightness"></span>Dark</button>
          </div>
        </div>
        <div id="sidebar-pos-row" class="row">
          <label>Sidebar Position</label>
          <div id="sidebar-pos" class="buttons btn-radio">
            <button class="mini left pressed ig4">Left</button>
            <button class="mini top ig4">Top</button>
            <button class="mini right ig4">Right</button>
            <button class="mini bottom ig4">Bottom</button>
          </div>
        </div>
        <div class="row">
          <label>Sidebar Color</label>
          <div class="inp-cont no-pad">
            <input id="sidebar-color" value="#5b5a5a" data-defaultValue="#5b5a5a" placeholder="#5b5a5a">
          </div>
        </div>
        <div class="row">
          <label>Header Color</label>
          <div class="inp-cont no-pad">
            <input id="header-color" placeholder="Transparent">
          </div>
        </div>
      </div>
      <div class="mod-act">
        <button id="res-set" class="red"><span class="icon icon-refresh"></span>Reset settings</button>
        <button class="close green"><span class="icon icon-ok"></span>Close</button>
      </div>
    </div>

    <div id="chat-mod" class="modal box chat-box modslidedownalt">
      <div class="mod-body nav-box left nav-big">
        <div class="nav-cont chat-cont">
          <div id="usr1-msg" class="chat-msg nav-item show">
            <p class="sent">What's up, how are you liking your new office?<span class="msg-info">Yesterday, 11:48 PM</span></p>
            <p class="rec">It's pretty good, definitely better than my old one. Thanks!<span class="msg-info">8:35 AM</span></p>
            <p class="sent">No problem, keep up the good work and this one will be your old one.<span class="msg-info">23 minutes ago</span></p>
            <p class="rec">Sure thing, you know me!<span class="msg-info">6 minutes ago</span></p>
          </div>
          <div id="usr2-msg" class="chat-msg nav-item">
            <p class="rec">Guys, some help please? I deleted some files to make room for... uhm... some HD movies, and now I'm getting all kinds of errors.<span class="msg-info">8:53 AM</span></p>
            <p class="sent">Dammit Johnny, I told you to stop downloading porn on company PC's.<span class="msg-info">9:30 AM</span></p>
          </div>
          <div id="lisa-msg" class="chat-msg nav-item">
            <p class="rec">Aww crap I spilled coffee on my favorite kittens sweater!<span class="msg-info">21 minutes ago</span></p>
            <p class="sent">Well, I know what I'm getting you for your birthday.<span class="msg-info">15 minutes ago</span></p>
          </div>
        </div>
        <ul class="nav dark">
          <li data-nav="#usr1-msg" id="chat-usr1" class="sel bdrad-top-l">
            <%= image_tag "avatars/michael.jpg", class: 'contact-img'%>
            <div class="contact-name">Michael</div>
          </li>
          <li data-nav="#usr2-msg" id="chat-usr2">
            <%= image_tag "avatars/johnny.jpg", class: 'contact-img'%>
            <div class="contact-name">Johnny</div>
          </li>
          <li data-nav="#lisa-msg">
            <div class="contact-img"><span class="icon icon-pictureframe"></span></div>
            <div class="contact-name">Lisa</div>
          </li>
        </ul>
      </div>
      <div class="mod-act">
        <form class="chat-form">
          <input type="text" class="chat-inp" placeholder="Type in your message...">
          <button type="submit" class="chat-send green"><span class="icon icon-exit"></span>SEND</button>
        </form>
        <button class="close">Close</button>
      </div>
    </div>

  </div>


<div id="gages" class="hidden">
  <div id="cpu" class="gage"></div>
  <div id="ram" class="gage"></div>
  <div id="mem" class="gage"></div>
</div>

