
<body>
<!-- Primary Page Layout
================================================== -->

<!-- Slider -->
<section class="slider" id="slider">

  <!-- Container -->
  <div class="container">

    <!-- Slide Content -->
    <div class="slide-content">
      <h1>Appster - a sleek landing</h1>
      <h2>to showcase your application</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada orci accumsan luctus. Duis sodales, tortor in ornare tincidunt, odio purus pulvinar odio pulvinar consectetur nunc. Class aptent taciti sociosqu ad litora torquent per.</p>
      <div class="button-container">
        <a href="#" class="button color">Download the app</a>
        <a href="#" class="button white">Subscribe now</a>
      </div>
    </div>

    <!-- Slide Model -->
    <div class="slide-model">
      <!--<img src="/slider/slider_model_01_a.png" alt="App Product Mockup" class="slide-model-a" />-->
      <%=image_tag "slider/slider_model_01_a.png", class: 'slide-model-a', style: ''%>
      <!--<img src="/slider/slider_model_01_b.png" alt="App Product Mockup" class="slide-model-b" />-->
      <%=image_tag "slider/slider_model_01_b.png", class: 'slide-model-b', style: ''%>
    </div>

  </div><!-- / Container -->

</section><!-- / Slider -->


<!-- Features -->
<section class="features" id="features">

  <!-- Container -->
  <div class="container">

    <!-- Icon Box -->
    <div class="one-third column feature-icon-box">
      <i class="fa fa-cog"></i>
      <h3>Highly Customizable</h3>
      <p>Meaecenas et suscipit orci nuet. Nam pulvinar libero purus, non euismod</p>
    </div>

    <!-- Icon Box -->
    <div class="one-third column feature-icon-box">
      <i class="fa fa-cloud-download"></i>
      <h3>Cloud Upload Support</h3>
      <p>Meaecenas et suscipit orci nuet. Nam pulvinar libero purus, non euismod</p>
    </div>

    <!-- Icon Box -->
    <div class="one-third column feature-icon-box">
      <i class="fa fa-microphone "></i>
      <h3>Live Voice Recognizer</h3>
      <p>Meaecenas et suscipit orci nuet. Nam pulvinar libero purus, non euismod</p>
    </div>

    <div class="clear"></div>

    <!-- Zoomer -->
    <div class="sixteen columns zoomer">
      <div class="zoomer-frame">
        <a class="zoomer-image" <%=image_tag "zoomer/zoomer_01b.jpg"%>>
          <!--<img src="/zoomer/zoomer_01s.jpg" alt="Zoomer Image" />-->
          <%=image_tag "zoomer/zoomer_01s.jpg", class: '', style: ''%>
        </a>
      </div>
    </div>

  </div><!-- / Container -->

  <!-- Zoomer Bg -->
  <div class="zoomer-bg">
    <div class="overlay"></div>
  </div>

  <!-- Zoomer Shadow-->
  <div class="zoomer-shadow"></div>

</section><!-- / Features -->



<!-- Showcase -->
<section class="showcase dark first" id="showcase">

  <!-- Container -->
  <div class="container">

    <!-- Contents -->
    <div class="nine columns showcase-content">
      <h1>Retina<span>ready sharp design</span></h1>
      <div class="title-bullet"><span></span></div>
      <p>Morbi pulvinar, orci sed eleifend suscipit, augue sem imperdiet dolor, quis etiam et consequat quam purus eu est. Pellentesque molestie consequat consequat. Integer et laoreet tellus, sit amet gravida libero. Cras ac nibh a urna semper placerat. Duis volutpat justo sit amet ipsum malesuada.</p>
      <div class="os-icons">
        <i class="fa fa-windows"></i>
        <i class="fa fa-apple"></i>
        <i class="fa fa-android"></i>
      </div>
    </div>

    <!-- Model -->
    <div class="seven columns showcase-model">
      <!--<img src="/showcase/showcase_model_01.png" alt="App Showcase Image" />-->
      <%=image_tag "showcase/showcase_model_01.png", class: '', style: ''%>
    </div>

  </div><!-- / Container -->

</section><!-- / Showcase -->



<!-- Showcase -->
<section class="showcase second">

  <!-- Container -->
  <div class="container">

    <!-- Model -->
    <div class="seven columns showcase-model">
      <!--<img src="/showcase/showcase_model_02.png" alt="App Showcase Image" />-->
      <%=image_tag "showcase/showcase_model_02.png", class: '', style: ''%>
    </div>

    <!-- Contents -->
    <div class="nine columns showcase-content">
      <h1>Device<span>friendly solutions</span></h1>
      <div class="title-bullet"><span></span></div>
      <p>Morbi pulvinar, orci sed eleifend suscipit, augue sem imperdiet dolor, quis etiam et consequat quam purus eu est. Pellentesque molestie consequat consequat. Integer et laoreet tellus, sit amet gravida libero. Cras ac nibh a urna semper placerat. Duis volutpat justo sit amet ipsum malesuada.</p>
      <a href="#" class="button color">Purchase Now</a>
      <a href="#" class="button solid">Learn More</a>
    </div>

  </div><!-- / Container -->

</section><!-- / Showcase -->



<!-- Showcase -->
<section class="showcase dark third">

  <!-- Container -->
  <div class="container">

    <!-- Contents -->
    <div class="nine columns showcase-content">
      <h1>Lifetime<span>buyer support</span></h1>
      <div class="title-bullet"><span></span></div>
      <p>Morbi pulvinar, orci sed eleifend suscipit, augue sem imperdiet dolor, quis etiam et consequat quam purus eu est. Pellentesque molestie consequat</p>
      <ul class="check-list">
        <li><i class="fa fa-check-circle"></i>Great browser compatibility guaranteed</li>
        <li><i class="fa fa-check-circle"></i>Unforgettable user experience</li>
        <li><i class="fa fa-check-circle"></i>Sweet Css3 animations</li>
      </ul>
    </div>

    <!-- Model -->
    <div class="seven columns showcase-model">
      <!--<img src="/showcase/showcase_model_03.png" alt="App Showcase Image" />-->
      <%=image_tag "showcase/showcase_model_03.png", class: '', style: ''%>
    </div>

  </div><!-- / Container -->

</section><!-- / Showcase -->



<!-- Shots -->
<section class="shots">

  <!-- Container -->
  <div class="container">

    <!-- Section Title -->
    <div class="sixteen columns section-title">
      <h1>Shots<span>what change your life</span></h1>
      <div class="title-bullet"><span></span></div>
    </div>

    <!-- Screenshot -->
    <div class="four columns">
      <div class="screenshot">
        <!--<img src="/shots/screenshot_01.jpg" alt="App Screenshot" />-->
        <%=image_tag "shots/screenshot_01.jpg", class: '', style: ''%>
        <div class="overlay"></div>
        <i class="fa fa-plus screenshot-zoom"></i>
      </div>
    </div>

    <!-- Screenshot -->
    <div class="four columns">
      <div class="screenshot">
        <!--<img src="/shots/screenshot_02.jpg" alt="App Screenshot" />-->
        <%=image_tag "shots/screenshot_02.jpg", class: '', style: ''%>
        <div class="overlay"></div>
        <i class="fa fa-plus screenshot-zoom"></i>
      </div>
    </div>

    <!-- Screenshot -->
    <div class="four columns">
      <div class="screenshot">
        <!--<img src="/shots/screenshot_03.jpg" alt="App Screenshot" />-->
        <%=image_tag "shots/screenshot_03.jpg", class: '', style: ''%>
        <div class="overlay"></div>
        <i class="fa fa-plus screenshot-zoom"></i>
      </div>
    </div>

    <!-- Screenshot -->
    <div class="four columns">
      <div class="screenshot">
        <!--<img src="/shots/screenshot_04.jpg" alt="App Screenshot" />-->
        <%=image_tag "shots/screenshot_04.jpg", class: '', style: ''%>
        <div class="overlay"></div>
        <i class="fa fa-plus screenshot-zoom"></i>
      </div>
    </div>

  </div><!-- / Container -->

  <!-- Lightbox -->
  <div class="lightbox">
			<span class="lightbox-close">
				<i class="fa fa-times"></i>
			</span>
    <!--<img src="/shots/screenshot_01.jpg" alt="App Screenshot" />-->
    <%=image_tag "shots/screenshot_01.jpg", class: '', style: ''%>
  </div>

  <!-- Lightbox Overlay-->
  <div class="lightbox-overlay"></div>

</section><!-- / Shots -->



<!-- Testimonials -->
<section class="testimonials" id="testimonials">

  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Container -->
  <div class="container">

    <!-- Testimonials Slider -->
    <div class="sixteen columns">

      <!-- Quote Slider -->
      <div class="quote-slider">


        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_01.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_01.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Giselle Williams</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_02.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_02.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Peter Johnson</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_03.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_03.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Jodie Harper</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>




        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_04.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_04.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Bradley Stone</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_05.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_05.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Morgan Addamson</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_06.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_06.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Merzedes White</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_07.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_07.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Adam Rosenfield</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_08.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_08.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Carrie Stevens</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_09.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_09.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Marta Johanson</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

      </div>

      <!-- Controls -->
      <div class="quote-slider-controls">
        <span class="active"></span>
        <span></span>
        <span></span>
      </div>

    </div><!-- / Testimonials Slider -->

  </div><!-- / Container -->

</section><!-- / Testimonials -->


<!-- Feature Selectors -->
<section class="feature-selectors" id="feature-selectors">

  <!-- Container -->
  <div class="container">

    <!-- Selector Buttons -->
    <div class="eight columns selector-contents">

      <!-- Section Title -->
      <div class="section-title">
        <h1>Super<span>features included</span></h1>
        <div class="title-bullet"><span></span></div>
      </div>

      <!-- Buttons -->
      <ul class="feature-selector-buttons">
        <li data-fselector="first">
          <span class="selector-body"><i class="fa fa-cog"></i>Unlimited color variations</span>
          <span class="selector-triangle"></span>
        </li>
        <li class="active" data-fselector="second">
          <span class="selector-body"><i class="fa fa-globe"></i>Awesome app possibilities</span>
          <span class="selector-triangle"></span>
        </li>
        <li data-fselector="third">
          <span class="selector-body"><i class="fa fa-file"></i>Countless unique features</span>
          <span class="selector-triangle"></span>
        </li>
        <li data-fselector="fourth">
          <span class="selector-body"><i class="fa fa-leaf"></i>Lifetime customer support</span>
          <span class="selector-triangle"></span>
        </li>
      </ul>

    </div><!-- / Selector Buttons -->

    <!-- Selector Images -->
    <div class="eight columns">
      <div class="feature-selector-frame">
        <div class="feature-selector-mask">
          <!--<img src="/selector/selector_img_01.jpg" alt="App Feature Selector" data-fselector="first" />-->
          <%=image_tag "selector/selector_img_01.jpg", class: '', style: '', data: {:fselector => 'first'}%>
          <!--<img src="/selector/selector_img_02.jpg" alt="App Feature Selector" data-fselector="second" />-->
          <%=image_tag "selector/selector_img_02.jpg", class: '', style: '', data: {:fselector => 'second'}%>
          <!--<img src="/selector/selector_img_03.jpg" alt="App Feature Selector" data-fselector="third" />-->
          <%=image_tag "selector/selector_img_03.jpg", class: '', style: '', data: {:fselector => 'third'}%>
          <!--<img src="/selector/selector_img_04.jpg" alt="App Feature Selector" data-fselector="fourth" />-->
          <%=image_tag "selector/selector_img_04.jpg", class: '', style: '', data: {:fselector => 'fourth'}%>
        </div>
      </div>
    </div>

  </div><!-- / Container -->

</section><!-- Feature Selectors -->


<!-- Twitter Feed -->
<section class="twitter-feed" id="twitter-feed">

  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Container -->
  <div class="container">

    <div class="sixteen columns">
				<span class="twitter-feed-icon-frame">
					<i class="fa fa-twitter twitter-feed-icon"></i>
				</span>
				<span class="tweet">
				<!--
				<strong>About 3 hours ago</strong> rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor. Netus et malesuada fames ac turpis egestas
				-->
				</span>
    </div>

  </div><!-- / Container -->

</section><!-- / Twitter Feed -->



<!-- Pricing -->
<section class="pricing" id="pricing">

  <!-- Container -->
  <div class="container">

    <!-- Section Title -->
    <div class="sixteen columns section-title">
      <h1>Choose<span>your package</span></h1>
      <div class="title-bullet"><span></span></div>
    </div>

    <!-- Medium Price Table -->
    <div class="one-third column">
      <div class="price-table">
        <header class="price-table-header">
          <h3>Plan 1</h3>
          <span>23$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <a href="#" class="button color">Purchase now</a>
        </div>
      </div>
    </div>

    <!-- Large Price Table -->
    <div class="one-third column">
      <div class="price-table large">
        <header class="price-table-header">
          <h3>Plan 2</h3>
          <span>26$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <a href="#" class="button color">Purchase now</a>
        </div>
      </div>
    </div>

    <!-- Medium Price Table -->
    <div class="one-third column">
      <div class="price-table">
        <header class="price-table-header">
          <h3>Plan 3</h3>
          <span>29$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <a href="#" class="button color">Purchase now</a>
        </div>
      </div>
    </div>

  </div><!-- / Container -->

</section><!-- / Pricing -->



<!-- Details -->
<section class="details" id="details">

  <!-- Container -->
  <div class="container">

    <!-- Section Title -->
    <div class="sixteen columns section-title">
      <h1>Getting<span>into the app details</span></h1>
      <div class="title-bullet"><span></span></div>
    </div>

    <!-- Count Up -->
    <div class="six columns count-up">

      <!-- Counter -->
      <div class="counter">
        <h4 data-from="0" data-to="86">0</h4>
        <h5>App downloads in store</h5>
      </div>

      <!-- Counter -->
      <div class="counter">
        <h4 data-from="0" data-to="23">0</h4>
        <h5>People rated 5 this app</h5>
      </div>

      <!-- Counter -->
      <div class="counter">
        <h4 data-from="0" data-to="56">0</h4>
        <h5>Support request solved</h5>
      </div>

      <!-- Counter -->
      <div class="counter">
        <h4 data-from="0" data-to="42">0</h4>
        <h5>Articles been published</h5>
      </div>

    </div><!-- / Count Up -->

    <!-- Carousel -->
    <div class="ten columns carousel">

      <!-- Controls-->
      <i class="carousel-prev fa fa-chevron-left"></i>
      <i class="carousel-next fa fa-chevron-right"></i>

      <!-- Carousel Slider -->
      <ul class="carousel-frame">

        <!-- Slide-->
        <li class="carousel-slide active">
          <!--<img src="/carousel/carousel_slide_01_bg.jpg" class="carousel-slide-bg" alt="App Screenshot in Carousel" />-->
          <%=image_tag "carousel/carousel_slide_01_bg.jpg", class: 'carousel-slide-bg', style: ''%>
          <div class="carousel-model first"></div>
        </li>

        <!-- Slide-->
        <li class="carousel-slide">
          <!--<img src="/carousel/carousel_slide_02_bg.jpg" class="carousel-slide-bg" alt="App Screenshot in Carousel" />-->
          <%=image_tag "carousel/carousel_slide_02_bg.jpg", class: 'carousel-slide-bg', style: ''%>
          <div class="carousel-model second"></div>
        </li>

        <!-- Slide-->
        <li class="carousel-slide">
          <!--<img src="/carousel/carousel_slide_03_bg.jpg" class="carousel-slide-bg" alt="App Screenshot in Carousel" />-->
          <%=image_tag "carousel/carousel_slide_03_bg.jpg", class: 'carousel-slide-bg', style: ''%>
          <div class="carousel-model third"></div>
        </li>

      </ul>

    </div><!-- / Points -->

  </div><!-- / Container -->

</section><!-- / Details -->


<!-- Socials -->
<section class="social-networks" id="social-networks">

  <!-- Container -->
  <div class="container">

    <!-- Social Links -->
    <div class="sixteen columns">
      <ul class="social-network-links">
        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
        <li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>
      </ul>
    </div>

  </div><!-- / Container -->

</section><!-- / Socials -->



<!-- Subscribe -->
<section class="subscribe" id="subscribe">

  <!-- Container -->
  <div class="container">

    <!-- Basic Contact Form -->
    <div class="sixteen columns contact-form">
      <h2>Get in touch with us</h2>
      <form method="post" action="http://eriktailor.com/showcase/appster_preview_1.0/mailer.php" id="cform">
        <input type="text" name="name" class="textfield" placeholder="Your name" required />
        <input type="email" name="email" class="textfield" placeholder="Your email address" required />
        <textarea name="message" class="textarea" placeholder="Your message" required></textarea>
        <input type="submit" value="Send Message" class="button color" />
      </form>
      <div id="success"></div>
    </div>

  </div><!-- / Container -->

</section><!-- / Subscribe -->

</div><!-- / Site Wrapper -->

<script type="text/javascript">
    $('.tweet').twittie();
</script>

<!--[if lt IE 10]>
<script type="text/javascript">
    $(document).ready(function(){

        $(".lightbox-close").click(function(){
            $(".lightbox, .lightbox-overlay").hide();
        });

        $(".feature-selector-buttons li").click(function(){
            $('.feature-selector-frame img').hide();
        });

    });
</script>
<![endif]-->


<script type="text/javascript">
    $(document).ready(function(){

        $("#styleswitcher li").click(function(){
            var colorFile = $(this).data("color");
            $("link").last().attr("href","main/colors/"+colorFile+".css");
            $("#styleswitcher li").empty();
            $(this).html('<i class="fa fa-check"></i>');
        });


        $(function () {
            function first() {
                $("#styleswitcher").animate({left: "+=250px"}, 500);
                $(this).one("click", second);
            }
            function second() {
                $("#styleswitcher").animate({left: "-=250px"}, 500);
                $(this).one("click", first);
            }
            $("#styleswitcher .trigger").one("click", first);
        });

    });
</script>
<!--  STYLESWITCHER ================================================== -->

<!-- End Document
================================================== -->
</body>