<!-- Primary Page Layout
================================================== -->

<!-- Slider -->
<section class="slider" id="slider">

  <!-- Container -->
  <div class="container">

    <!-- Slide Content -->
    <div class="slide-content">
      <h1>Remote Lead Generation</h1>
      <h2>For Freelance Developers and
        Boutique Agencies</h2>
      <p></p>
      <div class="eight columns contact-form">
        <a href="#" class="button color">Subscribe Now</a>
      </div>
    </div>

    <!-- Slide Model -->
    <div class="slide-model">
      <%=image_tag "slider/slider_model_01_a.png", class: 'slide-model-a', style: ''%>
      <%=image_tag "slider/slider_model_01_b.png", class: 'slide-model-b', style: ''%>
    </div>

  </div><!-- / Container -->

</section><!-- / Slider -->


<!-- Features -->
<section class="features" id="features">

  <!-- Container -->
  <div class="container">
    <div class="sixteen columns showcase-content">
      <h1>Freelancing<span> can be feast or famine. To truly grow your business and stay away from the dry spells, you have to be reaching out to fresh faces.</span></h1>
      <br>
    </div>

    <!-- Icon Box -->
    <div class="one-third column feature-icon-box">
      <i class="fa fa-signal"></i>
      <h3>High Quality</h3>
      <p>Close deals by focusing on high quality leads. Let someone else deal with the garbage.</p>
    </div>

    <!-- Icon Box -->
    <div class="one-third column feature-icon-box">
      <i class="fa fa-fire"></i>
      <h3>Interesting & Exciting</h3>
      <p>Meet interesting and exciting people who want to build mobile applications and make a difference.</p>
    </div>

    <!-- Icon Box -->
    <div class="one-third column feature-icon-box">
      <i class="fa fa-clock-o "></i>
      <h3>Save Time</h3>
      <p>Grow your business and save time prospecting.</p>
    </div>

    <div class="clear"></div>

  </div>
</section><!-- / Features -->


<!-- Testimonials -->
<section class="testimonials" id="testimonials">

  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Container -->
  <div class="container">

    <!-- Testimonials Slider -->
    <div class="sixteen columns">

      <!-- Quote Slider -->
      <div class="quote-slider">
        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_01.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_01.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Giselle Williams</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

        <!-- Testimonial -->
        <blockquote class="quote-slide">
          <div class="client-avatar">
            <!--<img src="/testimonials/client_02.jpg" alt="App Buyer Client" />-->
            <%=image_tag "testimonials/client_02.jpg", class: '', style: ''%>
          </div>
          <h3><i class="fa fa-quote-left"></i>Peter Johnson</h3>
          <p>Duis in nibh id lorem pulvinar adipiscing. Nulla odio elit, rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor netus et.</p>
        </blockquote>

      </div>

      <!-- Controls -->
      <!--<div class="quote-slider-controls">-->
      <!--<span class="active"></span>-->
      <!--<span></span>-->
      <!--<span></span>-->
      <!--</div>-->

    </div><!-- / Testimonials Slider -->

  </div><!-- / Container -->

</section><!-- / Testimonials -->
<!-- Pricing -->
<section class="pricing" id="pricing">

  <!-- Container -->
  <div class="container">

    <!-- Section Title -->
    <div class="sixteen columns section-title">
      <h1>Choose<span>your package</span></h1>
      <div class="title-bullet"><span></span></div>
    </div>

    <!-- Medium Price Table -->
    <div class="one-third column">
      <div class="price-table">
        <header class="price-table-header">
          <h3>Plan 1</h3>
          <span>23$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <!--<a href="#" class="button color">Purchase now</a>-->
          <%= link_to 'Purchase now', new_user_path(plan_id: 1), class: 'button color' %>
        </div>
      </div>
    </div>

    <!-- Large Price Table -->
    <div class="one-third column">
      <div class="price-table large">
        <header class="price-table-header">
          <h3>Plan 2</h3>
          <span>26$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <!--<a href="#" class="button color">Purchase now</a>-->
          <%= link_to 'Purchase now', new_user_path(plan_id: 2), class: 'button color' %>
        </div>
      </div>
    </div>

    <!-- Medium Price Table -->
    <div class="one-third column">
      <div class="price-table">
        <header class="price-table-header">
          <h3>Plan 3</h3>
          <span>29$</span>
        </header>
        <div class="price-table-body">
          <ul>
            <li><i class="fa fa-suitcase"></i>Lorem ipsum dolor</li>
            <li><i class="fa fa-folder-open"></i>Sit amet consescetur</li>
            <li><i class="fa fa-road"></i>Adipiscing elit etiam</li>
          </ul>
          <!--<a href="#" class="button color">Purchase now</a>-->
          <%= link_to 'Purchase now', new_user_path(plan_id: 3), class: 'button color' %>
        </div>
      </div>
    </div>

  </div><!-- / Container -->

</section><!-- / Pricing -->

<!-- Subscribe -->
<section class="subscribe" id="subscribe">

  <!-- Container -->
  <div class="container">

    <!-- Basic Contact Form -->
    <div class="sixteen columns contact-form">
      <h2>Have a project?</h2>
      <%= form_for @lead do |f| %>
          <%= f.text_field :contact_name, placeholder: 'Your name *', class: 'textfield required' %>
          <%= f.email_field :contact_email, placeholder: 'Your Email *', class: 'textfield required' %>
          <%= f.text_field :contact_number, placeholder: 'Your Phone', class: 'textfield required' %>
          <%= f.text_field :desc, placeholder: 'Describe your project *', class: 'textarea' %>
          <%= f.text_field :budget, placeholder: 'Budget *(In USD $)', class:'textfield required'%>

          <%= f.submit "Submit Your Project", class:'button color' %>
      <% end %>



      <div id="success"></div>
    </div>

  </div><!-- / Container -->

</section><!-- / Subscribe -->

<!-- Twitter Feed -->
<section class="twitter-feed" id="twitter-feed">

  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Container -->
  <div class="container">

    <div class="sixteen columns">
				<span class="twitter-feed-icon-frame">
					<i class="fa fa-twitter twitter-feed-icon"></i>
				</span>
				<span class="tweet">
				<!--
				<strong>About 3 hours ago</strong> rutrum at convallis in, rhoncus ac urna. Curabitur justo urna, congue quis volutpat sed, fringilla sit amet dolor. Netus et malesuada fames ac turpis egestas
				-->
				</span>
    </div>

  </div><!-- / Container -->

</section><!-- / Twitter Feed -->


<!-- Socials -->
<section class="social-networks" id="social-networks">

  <!-- Container -->
  <div class="container">

    <!-- Social Links -->
    <div class="sixteen columns">
      <ul class="social-network-links">
        <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
        <!--<li><a href="#"><i class="fa fa-flickr"></i></a></li>-->
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
        <!--<li><a href="#"><i class="fa fa-tumblr-square"></i></a></li>-->
      </ul>
    </div>

  </div><!-- / Container -->

</section><!-- / Socials -->





</div><!-- / Site Wrapper -->

<script type="text/javascript">
    $('.tweet').twittie();
</script>

<!--[if lt IE 10]>
<script type="text/javascript">
    $(document).ready(function(){

        $(".lightbox-close").click(function(){
            $(".lightbox, .lightbox-overlay").hide();
        });

        $(".feature-selector-buttons li").click(function(){
            $('.feature-selector-frame img').hide();
        });

    });
</script>
<![endif]-->


<script type="text/javascript">
    $(document).ready(function(){

        $("#styleswitcher li").click(function(){
            var colorFile = $(this).data("color");
            $("link").last().attr("href","main/colors/"+colorFile+".css");
            $("#styleswitcher li").empty();
            $(this).html('<i class="fa fa-check"></i>');
        });


        $(function () {
            function first() {
                $("#styleswitcher").animate({left: "+=250px"}, 500);
                $(this).one("click", second);
            }
            function second() {
                $("#styleswitcher").animate({left: "-=250px"}, 500);
                $(this).one("click", first);
            }
            $("#styleswitcher .trigger").one("click", first);
        });

    });
</script>
<!--  STYLESWITCHER ================================================== -->

<!-- End Document
================================================== -->