<!DOCTYPE html>
<html>
<head>
  <title>ActiveLead</title>
  <%= stylesheet_link_tag    'admin', media: 'all'%>
  <%= javascript_include_tag 'admin'%>
  <%= csrf_meta_tags %>
  <%= filepicker_js_include_tag %>
</head>
<body style="overflow: hidden">
<div id="wrapper">
  <div id="content" class="dash-page">
    <%#=render :partial => 'layouts/admin_header'%>
    <div style="clear:both"></div>
    <%= yield %>
  </div>
  <%=render :partial => 'layouts/admin_left_nav'%>
</div>
</body>
</html>
