<!DOCTYPE html>
<html>
<head>
  <title>ActiveLead</title>
  <%= stylesheet_link_tag    'main', media: 'all'%>
  <%= javascript_include_tag 'main'%>
  <%= csrf_meta_tags %>
</head>
<body>

<%=render :partial => 'layouts/main_header'%>

<%= yield %>
<%=render :partial => 'layouts/main_footer'%>

</body>
</html>
